@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:wght@200;400&display=swap');
body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


/*******************************
Header
 ******************************/

.page__header {
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: #fff;
    font-family: "Poppins";
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar__list {
    display: flex;
    flex-direction: row;
}

#navbar__list li {
    margin: 0 1em 0 1em;
    color: black;
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
}

#navbar__list li:hover {
    color: white;
    background-color: black;
}

#navbar__list .highlight {
    font-weight: bold;
}


/*******************************
Main
 ******************************/

main {
    margin: 3em 0 20vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.main__header {
    font-family: "Poppins";
}

section {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 80vw;
    margin: 1em 0 1em 0;
    background-color: white;
    padding: 10em;
    border: 2px solid black;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    font-family: "Poppins";
    text-align: center;
}

#section1 {
    opacity: 1;
    z-index: 2;
}

.active {
    opacity: 1;
    transition: opacity 3s;
}


/*******************************
Footer
 ******************************/

footer {
    box-sizing: border-box;
    height: 20vh;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    margin: 5vh 0 0 0;
    padding: 0 0 0 10vw;
    display: flex;
    align-items: center;
    width: 100vw;
}


/*******************************
Tablet Style
 ******************************/

@media (max-width: 1140px) {
    #navbar__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #navbar__list li {
        color: black;
        list-style-type: none;
        cursor: pointer;
        padding: 0.5em;
        font-size: 10px;
    }
    section {
        font-size: 10px;
        height: 100vh;
        padding: 2em;
    }
    main>header {
        margin-top: 2em;
    }
}


/*******************************
Phone Style
 ******************************/

@media (max-width: 420px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .page__header {
        width: 100vw;
        position: relative;
        height: auto;
        top: 0;
        background-color: #fff;
        font-family: "Poppins";
    }
    #navbar__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: auto;
        margin: 0;
        padding: 0;
    }
    #navbar__list li {
        font-size: 10px;
        margin: 1em 0 1em 0;
        width: 80vw;
        text-align: center;
    }
    main {
        top: 60vh;
        bottom: 20vh;
        margin: 0 0 30vh 0;
    }
    main>header {
        margin: 0;
    }
    section {
        font-size: 10px;
        height: 100vh;
        text-align: center;
    }
    footer {
        box-sizing: border-box;
        bottom: 0;
        height: 20vh;
    }
}